CHROMA_AUTH_TOKEN=
CHROMA_HOST=
CHROMA_COLLECTION=notion
NOTION_API_TOKEN=
OLLAMA_HOST=
NEO4J_URI=
NEO4J_USER=
NEO4J_PASSWORD=
NEO4J_DATABASE=notion

# Optional configuration paths
LOG_CONFIG_PATH=logging.yaml  # Optional path to logging configuration file
